 /*Style.css */

/*https://www.w3schools.com/cssref/*/

/* 	
[.] = class
[#] = id
*/



/*##########################################################################################################################*/
/*###                                                                                                                    ###*/
/*###                                                         DESKTOP                                                    ###*/
/*###                                                                                                                    ###*/
/*##########################################################################################################################*/

@media only screen and (orientation: landscape) {

	body.Contact_Body {
		background-color: #000000;
		text-align: center;
		top: 50;
		background-image: url("Pictures/Cropped/Contact_Background.jpg");
		color: #f2f2f2;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		align-items: center;
	}

	body.Home_Body {
		background-color: #000000;
		text-align: center;
		top: 50;		
		background-image: url("Pictures/Cropped/Index_Background.jpg");
		background-size: cover;	  	
		color: #f2f2f2;
	  	width: 100%;
		background-size: auto;
		background-repeat: no-repeat;
		background-attachment: fixed;		
	}


	body.Shows_Body {
		background-color: #000000;
		background-image: url("Pictures/Cropped/Dates_Background.jpg");
		background-size: cover;
		color: #f2f2f2;
		background-repeat: no-repeat;
		background-attachment: fixed;		
	}

	body.Tapes_Body {
		background-color: #000000;
		text-align: center;
		align-items: center;
		background-image: url("Pictures/Cropped/Tapes_Background.jpg");
		background-size: cover;
		color: #f2f2f2;
		background-repeat: no-repeat;
		background-attachment: fixed;
		align-items: center;	
	}



} /* END LANDSCAPE SCREEN ELEMENTS */



/*######################### GENERAL FORMATTING #############################*/

.Page_Title {
	margin-top: 10px;
	margin-bottom: 0px;
}

header {
	width:100%;
	/*position:absolute;*/
	/*top:0;*/
	left:0;
}
/*################# GENERAL BODY #####################*/

body {
	font-family: "Arial Black", Gadget, sans-serif;
	width: 100%;
	overflow-x: hidden;
}


/*################# TOP/NAV BAR #####################*/

.Top_Bar {
	top: 0; /* offset from top, more means the top bar moves further down the page*/
	text-align: center;
	padding-top: 0px;
  	padding-bottom: 0px;
  	margin-top: -10px;
  	margin-bottom: 0px;
  	width: 100%;
  	margin-right: 8px;
  	margin-left: -8px;
	/*background-color: rgba(40, 139, 228, .1);*/
	background-color: rgba(242, 242, 242, .75);
	color: #000000;
	/*position: -webkit-sticky; /* Safari */*/
  	/*position: sticky;*/
  	position: fixed;  	
  	overflow: hidden; /*you want hidden which will hide it. The padded hover-over box extends beyond the bottom of the div so you want to hide it to maintain the aesthetic on the other 3 sides */
  	padding-bottom: 0;
}

.NavBar {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

/* Style the links inside the navigation bar */
.NavBar a {
  float: top;
  color: #000000;  
  text-align: center;
  padding: 14px 16px;  
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.NavBar a.active {
  /*background-color: #4CAF50;*/
  background-color: #000000;
  color: white;
}

/*################# FOOTER #####################*/

div#footer {
	text-align: center;
}

/*######################### HOME PAGE SPECIFIC #############################*/



.Greeting {
	background-color: rgba(242,242,242, .75);
	color: #000000;
	margin: auto;
	width: 30%;
}

#Bio_copy {
	background-color: rgba(242,242,242, .75);
	color: #000000;
	width: 50%;
	margin: auto;
}



/*######################### DATES PAGE SPECIFIC #############################*/



div#Shows_Header_div {
	margin: auto auto;
	/*align-self: center;*/
	background-color: rgba(242,242,242, .75);
	color: #000000;
	width: 50%;
	text-align: center;

}

.show_date{
	text-transform: uppercase;
}

.Show_Box {
	padding-top: 10px;
  	padding-bottom: 10px;
	text-align: center;
	margin: auto;
	/*background-color: #F2F2F2;*/
	background-color: rgba(242, 242, 242, .75);
	width: 50%;
	/*color: #288BE4;*/
	color: #000000;
	overflow-wrap: break-word;
}

.Title_Thing {
	font-size: 24px;
}


.Title_Thing:link {
  text-decoration: none;
  color: inherit;
}

.Title_Thing:visited {
  text-decoration: none;
  color: inherit;
}

.Title_Thing:hover {
  text-decoration: underline;
}

#Top_Button {
	display: none; /* Hidden by default */
 	position: fixed; /* Fixed/sticky position */
 	bottom: 20px; /* Place the button at the bottom of the page */
 	right: 30px; /* Place the button 30px from the right */
  	z-index: 99; /* Make sure it does not overlap */
  	border: none; /* Remove borders */
  	outline: none; /* Remove outline */
  	background-color: black; /* Set a background color */
  	color: white; /* Text color */
  	cursor: pointer; /* Add a mouse pointer on hover */
  	padding: 15px; /* Some padding */
  	border-radius: 10px; /* Rounded corners */
  	font-size: 18px; /* Increase font size */
}

#Top_Button:hover {
  	background-color: #555; /* Add a dark-grey background on hover */
}


/*######################### TAPES PAGE SPECIFIC #############################*/



div#Tape_1_Header_div {
	margin: auto auto;
	/*align-self: center;*/
	background-color: rgba(0,0,0, .75);
	width: 50%;
	text-align: center;

}

/*######################### CONTACT PAGE SPECIFIC #############################*/


div.Media_Links{
	display: flex;
	width: 80%;	
	align-items: center;
	margin: auto;
}

.Social_Link {
	background-color: rgba(242,242,242, .75);
	color: #000000;
	margin: 10px;
	width: 25%;
	align-items: center;
	flex-grow: 1;
	display: inline-block;

}


.Social_Link:link {
  text-decoration: none;
  color: #000000;
}

.Social_Link:visited {
  text-decoration: none;
  color: #000000;
}

.Social_Link:hover {
  text-decoration: underline;
  color: #000000;

}




#Bio_copy {
	background-color: rgba(242,242,242, .75);
	color: #000000;
	width: 50%;
	margin: auto;
}




/*##########################################################################################################################*/
/*###                                                                                                                    ###*/
/*###                                                   MOBILE DEVICES                                                   ###*/
/*###                                                                                                                    ###*/
/*##########################################################################################################################*/

@media only screen and (orientation: portrait) {

	body.Shows_Body {
		background-color: #000000;
		background-image: url("Pictures/Mobile/Dates_Image_w320.jpg");
		/*background-size: cover;*/
		background-size: auto;
		color: #f2f2f2;
		background-repeat: no-repeat;
		background-attachment: fixed;		
	}




	/*MOBILE FRIENDLY IMAGES AND LAYOUTS*/

}
