 /*Style.css */

/*https://www.w3schools.com/cssref/*/

/* 	
[.] = class
[#] = id
*/

body {
	background-color: #288BE4;
	background-image: url("Pictures/28943007_10212089561254321_392492789_o.jpg");
	color: #f2f2f2;
	background-size: 100% auto;
	background-position: 0 -100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.show_date{
	text-transform: uppercase;
}

.Show_Box {
	padding-top: 10px;
  	padding-bottom: 10px;
	text-align: center;
	margin: auto;
	/*background-color: #F2F2F2;*/
	background-color: rgba(242, 242, 242, .75);

	width: 50%;
	/*color: #288BE4;*/
	color: #000000;
}
.Top_Bar {
	/*background-color: rgba(40, 139, 228, .5);*/
	text-align: center;
	background-color: rgba(40, 139, 228, 1);
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
  	overflow: hidden; /*you want hidden which will hide it. The padded hover-over box extends beyond the bottom of the div so you want to hide it to maintain the aesthetic on the other 3 sides */
  	padding-bottom: 0;
}

.NavBar {
    /*display: inline-block;*/
    /*list-style-type: none;*/
    padding-bottom: 0;
}

/* Style the links inside the navigation bar */
.NavBar a {
  float: top;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.NavBar a.active {
  background-color: #4CAF50;
  color: white;
}

